@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

/* removes body margins, sets page bg color */
body {
    background: #2F4F4F;
    background: -webkit-linear-gradient(to bottom, #fdbb2d, #22c1c3);
    background: linear-gradient(to bottom, #fdbb2d, #22c1c3);
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
}

/* pushes the page title down a bit, gives it golden color */
h1 {
    color:#EEE8AA;
}

/* makes buttons round, adds border for 3D effect */
button {
    margin: 10px 20px;
    height: 80px;
    width: 100px;
    border-radius: 50%;
    border-style: none;
    border-bottom: 4px solid #696969;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

/* light up button labels when hovered over, changes cursor */
button:hover {
    cursor: pointer;
    transition: color 0.16s ease-in;
    color: #ffffff;
}

/* makes button looked pushed down when clicked */
button:active {
    height: 76px;
    border-bottom: none;
    transform: translateY(4px);
}

/* classes for toggling UI visibility */
.available {
    display: block;
}

.unavailable {
    display: none;
}

/* centers text content and buttons */
#content {
    margin: 50px auto;
    padding: 8px;
    min-width: 360px;
    max-width: 600px;
    background-color: #969696;
    border-bottom: 8px solid #696969;
    text-align: center;
}

/* gives buttons gradients for glowing gameshow-like look */
#yesBtn {
    background-image: radial-gradient(circle, #00FF7F 35%, #00994C 65%);
}

#noBtn {
    background-image: radial-gradient(circle, #DC143C 35%, #840C24 65%);
}