@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

/* set page bg color, typography */
body {
    background: #2F4F4F;
    background: -webkit-linear-gradient(to bottom, #fdbb2d, #22c1c3);
    background: linear-gradient(to bottom, #fdbb2d, #22c1c3);
    font-family: 'Josefin Sans', sans-serif;
}

/* push page title down a bit, give it golden color */
h1 {
    margin-top: 5%;
    text-align: center;
    color:#F1ECBB;
}

h2 {
    text-align: center;
    color: #ffffff;
}

/* make buttons round, add border for 3D effect */
button {
    margin: 20px 20px;
    height: 80px;
    width: 100px;
    border-radius: 50%;
    border-style: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

/* light up button labels when hovered over, changes cursor */
button:hover {
    cursor: pointer;
    transition: color 0.16s ease-in;
    color: #ffffff;
}

button:active {
    height: 76px;
    transform: translateY(4px);
}

/* classes for toggling UI visibility */
.available {
    display: block;
}

.unavailable {
    display: none;
}

/* makes UI look like a control panel */
#controls {
    margin: 40px auto;
    padding: 8px;
    min-width: 360px;
    max-width: 600px;
    background-color: #969696;
    border-bottom: 10px solid #696969;
    text-align: center;
}

/* gives buttons gradients for glowing gameshow-like look */
#yesBtn {
    background-image: radial-gradient(ellipse, #00FF7F 40%, #00994C 60%);
    border-bottom: 4px solid #006B35;
}

#noBtn {
    background-image: radial-gradient(ellipse, #DC143C 40%, #840C24 60%);
    border-bottom: 4px solid #5C0819;
}

/* makes buttons look pushed down when clicked */
#yesBtn:active, #noBtn:active {
    border-bottom: none;
}