@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

body {
    margin: 0;
    padding: 0;
    background: #2F4F4F;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
}

h1 {
    padding: 5%;
    color:#EEE8AA;
}

#content {
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
}

button {
    display: inline-block;
    margin: 10px 20px;
    height: 80px;
    width: 100px;
    border-radius: 45%;
    border-style: none;
    border-bottom: 4px solid #696969;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}

button:active {
    border-bottom: 4px solid #696969;
    transform: translateY(2px);
}

.available {
    display: block;
}

.unavailable {
    display: none;
}

#yesBtn {
    background-image: radial-gradient(#00FF7F 30%, #00994C 70%);
}

#noBtn {
    background-image: radial-gradient(#DC143C 30%, #840C24 70%);
}