@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

body {
    margin: 0;
    padding: 0;
    background: #2F4F4F;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
}

h1 {
    padding: 5%;
    color:#EEE8AA;
}

#content {
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
}

button {
    display: inline-block;
    margin: 10px 10px;
    height: 80px;
    width: 120px;
    border-radius: 20%;
    border-style: none;
    border-bottom: 4px solid #696969;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}

button:active {
    border-bottom: 4px solid #696969;
    transform: translateY(2px);
}

/* Obs! Ge denna klass ett bättre namn. */
.active {
    display: block;
}

/* Denna med! */
.inactive {
    display: none;
}

#yesBtn {
    background: #00FF7F;
}

#noBtn {
    background: #DC143C;
}