@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

body {
    margin: 0;
    background: #2F4F4F;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
}

#siteHeader {
    background: #c94b4b;
    background: linear-gradient(to bottom, #FC354C, #B22222);
    margin-top: 0px;
    text-align: center;
    width: 100%;
    min-height: 120px;
}

h1 {
    color:#EEE8AA;
}

button {
    display: inline-block;
    margin: 0 auto;
    border-radius: 20%;
    border-style: none;
    border-bottom: 4px solid #696969;
    height: 80px;
    width: 120px;
}

button:active {
    border-bottom: none;
    cursor: none;
}

.inactive {
    display: none;
}

#yesBtn {
    background: #00FF7F;
}

#noBtn {
    background: #DC143C;
}